.restore-password-form {
  position: relative;
  padding: 4rem 6rem 3rem;
  border-radius: 0.5rem;
  background-color: white;

  @media (max-width: 560px) {
    padding: 4rem 2rem 2rem;
  }

  &__title {
    margin-bottom: 1.2rem;
    color: #3c485e;
    text-align: center;
    font-size: 1.6714rem;
    line-height: 2rem;
  }

  &__text {
    margin: 0 auto 1.875rem;
    width: 60%;
    color: #3c485e;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  &__field {
    margin-bottom: 2.875rem;

    &::placeholder {
      color: #b3b9d1;
    }

    .MuiInputLabel-root {
      position: static;
      padding-left: 0.625rem;
      color: #3c485e;
      font-size: 1rem;
      line-height: 1.5rem;
      transform: none;
    }

    .MuiInputBase-root {
      margin-top: 0.625rem;
      border: 0.0313rem solid #b3b9d1;
      border-radius: 0.25rem;

      &::after,
      &::before {
        content: none;
      }
    }

    .MuiInputBase-input {
      padding: 0.8125rem 0.6875rem;
      color: #3c485e;
      font-size: 1rem;
      line-height: 1.5rem;
      animation: none;
    }

    .MuiFormLabel-root.Mui-error {
      color: #3c485e;
    }

    .MuiFormHelperText-root {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__button {
    margin-bottom: 0.625rem;
  }
}
