.login-form {
  position: relative;
  padding: 4rem 6rem;
  border-radius: 0.5rem;
  background-color: white;

  @media (max-width: 560px) {
    padding: 4rem 2rem 2rem;
  }

  &__title {
    margin-bottom: 1rem;
    color: #3c485e;
    text-align: center;
    font-size: 1.6714rem;
    line-height: 2rem;
  }

  &__list {
    display: flex;
    justify-content: center;
    margin: 0 0 1.6875rem;
    padding: 0;
    list-style-type: none;
  }

  &__social-item {
    font-size: 0;
  }

  &__social-item + &__social-item {
    margin-left: 1rem;
  }

  &__social-link {
    margin: 0;
    padding: 0;
    width: 3.125rem;
    height: 3.125rem;
    border: 0;
    background: no-repeat center/cover;
    cursor: pointer;

    &_theme_google {
      background-image: url('../RegistrationForm/img/google.svg');
    }

    &_theme_facebook {
      background-image: url('../RegistrationForm/img/facebook.svg');
    }
  }

  &__text {
    margin-bottom: 0.625rem;
    color: #3c485e;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5rem;
  }

  &__fields {
    margin-bottom: 0.825rem;
  }

  &__field {
    margin-bottom: 0.625rem;

    &::placeholder {
      color: #b3b9d1;
    }

    .MuiInputLabel-root {
      position: static;
      padding-left: 0.625rem;
      color: #3c485e;
      font-size: 1rem;
      line-height: 1.5rem;
      transform: none;
    }

    .MuiInputBase-root {
      margin-top: 0.625rem;
      border: 0.0313rem solid #b3b9d1;
      border-radius: 0.25rem;

      &::after,
      &::before {
        content: none;
      }
    }

    .MuiInputBase-input {
      padding: 0.8125rem 0.6875rem;
      color: #3c485e;
      font-size: 1rem;
      line-height: 1.5rem;
      animation: none;
    }

    .MuiFormLabel-root.Mui-error {
      color: #3c485e;
    }

    .MuiFormHelperText-root {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__password-restore-link {
    border: 0;
    background: none;
    color: #5867dd;
    text-decoration: none;
    font-size: 0.75rem;
    line-height: 1.25rem;
    cursor: pointer;
  }

  &__button {
    margin-top: 2rem;
  }
}
