.login-form {
  position: relative;
  padding: 4rem 6rem;
  border-radius: 0.5rem;
  background-color: white;

  &__registration-link {
    position: absolute;
    top: 1.4286rem;
    right: 1rem;
    padding-right: 1.2286rem;
    border: 0;
    background: none;
    color: #5867dd;
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.375rem;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 50%;
      right: 0;
      width: 0.6429rem;
      height: 0.0714rem;
      background-color: #5867dd;
      content: '';
      font-size: 1rem;
      line-height: 1.5714rem;
      transform: translateY(-50%);
    }

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      width: 0.2857rem;
      height: 0.2857rem;
      border: 0.0714rem solid #5867dd;
      border-top: none;
      border-left: none;
      content: '';
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  &__title {
    margin-bottom: 2rem;
    color: #3c485e;
    text-align: center;
    font-size: 1.6714rem;
    line-height: 2rem;
  }

  &__fields {
    margin-bottom: 0.825rem;
  }

  &__field {
    margin-bottom: 0.625rem;

    &::placeholder {
      color: #b3b9d1;
    }

    .MuiInputLabel-root {
      position: static;
      padding-left: 0.625rem;
      color: #3c485e;
      font-size: 1rem;
      line-height: 1.5rem;
      transform: none;
    }

    .MuiInputBase-root {
      margin-top: 0.625rem;
      border: 0.5px solid #b3b9d1;
      border-radius: 4px;

      &::after,
      &::before {
        content: none;
      }
    }

    .MuiInputBase-input {
      padding: 0.8125rem 0.6875rem;
      color: #3c485e;
      font-size: 1rem;
      line-height: 1.5rem;
      animation: none;
    }

    .MuiFormLabel-root.Mui-error {
      color: #3c485e;
    }

    .MuiFormHelperText-root {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__password-restore-link {
    border: 0;
    background: none;
    color: #5867dd;
    text-decoration: none;
    font-size: 0.75rem;
    line-height: 1.25rem;
    cursor: pointer;
  }

  &__button {
    display: block;
    margin-top: 2rem;
    padding: 0.8125rem 0.625rem;
    width: 100%;
    border: 0;
    border-radius: 6.25rem;
    background-color: #e31e24;
    color: white;
    font-size: 0.875rem;
    line-height: 1.375rem;
    cursor: pointer;
  }
}
