.registration-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgba(229, 229, 229, 0.2);

  &__registration-form {
    width: 38.75rem;
  }
}
