.login-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgba(229, 229, 229, 0.2);

  &__login-form {
    width: 35rem;

    @media (max-width: 560px) {
      width: 100%;
    }
  }
}
